<div class="max-w-sm mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-4">
  <div class="md:flex">
    <div class="p-8">
      <div class="flex items-center">
        <img class="block h-10 w-10 rounded-full" src="/static/avatar.svg" alt="User Avatar">
        <div class="ml-4">
          <p class="text-sm font-medium text-gray-900">

          </p>
          <p class="text-sm text-gray-500">

          </p>
        </div>
      </div>
      <div class="mt-2">
        <form class="w-full" action="/create_tweet" method="POST">
          <textarea name="tweet" class="w-full h-20 bg-gray-100 p-2 mt-2 rounded-md resize-none"
            placeholder="Enter your message"></textarea>
          <div class="flex justify-end mt-2">
            <button type="submit"
              class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">Tweet</button>
          </div>
        </form>
      </div>
      <div class="mt-6 text-right text-gray-400 text-xs">

      </div>
    </div>
  </div>
</div>