<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
  <title>Chitter</title>
</head>

<body class="bg-blue-500">
  <a href="/" class="fixed top-0 pt-4 pb-4 w-full flex items-center justify-center bg-blue-500/75">
    <img src="{{ url_for('static', filename='logo.svg') }}" alt="chitter logo" class="w-10">
  </a>
  <nav class="metanav fixed top-0 right-0">
    {% if not session.logged_in and request.path != '/sign_in/'%}
    <div class="flex justify-end p-4">
      <a href="/sign_in/"
        class="bg-gray-50 hover:text-white hover:bg-blue-600 text-blue-500 text-sm font-medium py-2 px-3 rounded">
        Sign In
      </a>
    </div>
    {% elif not session.logged_in and request.path == '/sign_in/'%}
    {% else %}
    <div class="flex justify-end p-4">
      <a href="/sign_out"
        class="bg-gray-50 text-blue-500 hover:bg-blue-600 hover:text-white text-sm font-medium py-2 px-4 rounded">
        Sign Out
      </a>
    </div>
    {% endif %}
  </nav>

  <flash>
    {% for message in get_flashed_messages() %}
    <div id="alert"
      class="fadeOut fixed top-0 w-1/3 mt-16 left-1/3 z-50 bg-teal-100 border-l-4 border-teal-500 text-teal-900 p-4 flex items-center justify-between"
      role="alert">
      <p class="flash-message">{{ message }}</p>
    </div>
    {% endfor %}
  </flash>

  {% block body %}{% endblock %}

</body>

</html>