{% extends "layout.html" %}
{% block body %}

<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-xs ">
    <form action="/sign_up" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-medium mb-2" for="username">
          Username
        </label>
        <input required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 placeholder:text-sm leading-tight focus:ring-inset focus:ring-indigo-500 focus:shadow-outline"
          name="username" id="username" type="text" placeholder="Username">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-medium mb-2" for="email">
          Email
        </label>
        <input required
          class="shadow appearance-none border rounded placeholder:text-sm w-full py-2 px-3 text-gray-700 leading-tight focus:ring-inset focus:ring-indigo-500 focus:shadow-outline"
          name="email" id="email" type="text" placeholder="Email" pattern=".*@(.*\.com|.*\.co\.uk)"
          title="Please enter a valid email address with either a .com or .co.uk domain">
      </div>
      <div class=" mb-6">
        <label class="block text-gray-700 text-sm font-medium mb-2" for="password">
          Password
        </label>
        <input required
          class="shadow appearance-none border rounded w-full py-2 px-3 placeholder:text-sm text-gray-700 mb-3 leading-tight focus:ring-inset focus:ring-indigo-500 focus:shadow-outline"
          name="password" id="password" type="password" placeholder="******" required minlength="6">
      </div>
      <div class="flex items-center justify-center">
        <button
          class="bg-blue-500 hover:bg-blue-600 text-white text-sm font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit">
          Sign Up
        </button>

      </div>
    </form>
  </div>
</div>

{% endblock %}